[submodule "submodules/obggcc"]
	path = submodules/obggcc
	url = https://github.com/AmanoTeam/obggcc
[submodule "submodules/netbsd-ports"]
	path = submodules/netbsd-ports
	url = https://github.com/NetBSD/pkgsrc
